Source: artwork-wallpapers-maui-1
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.2

Package: artwork-wallpapers-maui-1
Architecture: all
Replaces: netrunner-artwork (<< 1.1.49)
Breaks: netrunner-artwork (<< 1.1.49)
Description: Maui specific wallpapers
  This package provides the default wallpapers for Maui.
